main {
  padding: 100px 20px;
}

#res-data div {
  padding: 5px;
}

.row {
  display: flex;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#actions button {
  position: relative;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  min-width: 130px;
  background-color: rgb(102, 240, 60);
}

button {
  padding: 10px;
  background-color: rgb(240, 177, 60);
}

#counter {
  padding: 3px 10px;
}

p {
  margin: 0 15px;
  padding: 13px 10px;
}

.btn {
  padding: 10px 20px;
  background-color: aliceblue;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(209, 214, 220);
}

.btn:active {
  background-color: rgb(212, 206, 206);
}
